.container{
  width: 600px;
  height: 600px;
  margin-inline: auto;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.image-container{
  display: flex;
  /* transform: translate(0%); */
  transition: transform 1s ease-in-out;
}

.slider__slide{
  height: 600px;
  min-width: 100%;
  /* margin: 5px; */
  background-color: red;
  
}


.slider__slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left{
  position: absolute;
  top: 50%;
  font-size: 2em;
  cursor: pointer;
}

.right{
  position: absolute;
  right: 0px;
  top: 50%;
  font-size: 2em;
  cursor: pointer;
}

.dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

}


span{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: rgb(112, 110, 110);
  border-radius: 70%;
}


span:hover{
  background-color: black;
  cursor: pointer;
}

